/* global styling */
body {
    font-family: 'Raleway', sans-serif;
}

/* /global styling */

/* header */


header img {
    max-width: 200px;
}

header nav {
    margin: 20px 0;
}

header nav a {
    background-color: #1A437A;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 60px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    margin: 0 10px;
}

header nav a:hover {
   color: #ffffff;
}

/* /header */