/* global */
body {
    font-family: 'Raleway', sans-serif;
}

/* /global */

/* header */

header img {
    max-width: 200px;
}

header nav {
    margin: 20px 0;
}

header nav a {
    background-color: #1A437A;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 60px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
    margin: 0 10px;
}

header nav a:hover {
   color: #ffffff;
}

/* /header */

/* homepage */



/* /homepage */


/* media queries */

/* // Devices smaller than 576px */
@media (max-width: 575px) {
    
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}

/* /media queries */
